<div class='container p-4'>

  <div class="m-3">
    <h1 class="my-2"><%= @restaurant.name %></h1>
    <p>Address: <%= @restaurant.address %> </p>
    <p>Phone number:<%= @restaurant.phone_number %></p>
    <p>Category:<%= @restaurant.category %></p>

    <% link_to "Edit this", edit_restaurant_path%>
    <% link_to "Delete this", restaurant_path(@restaurant), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }%>
  </div>
  <div class="m-3 my-5">
    <h2>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <p>
        <strong>Rating:</strong>
        <%= review.rating %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= review.content %>
      </p>
    <% end %>
  </div>

  <div class="m-3 my-5">
    <h2>Add a review:</h2>
    <%= simple_form_for [ @restaurant, @restaurant.reviews.build ] do |form| %>
      <p>
        <%= form.label :rating %><br>
        <%= form.text_field :rating %>
      </p>
      <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  <div>
  <div class="p-5 text-end fw-lighter">
    <p><%= link_to "Back to the restaurants", restaurants_path%></p>
  </div>
</div>
